.shutter-container {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
  font-family: var( --font-main);
  font-weight: var(--font-weight-shutter);
  font-size: var(--font-size-shutter);
  z-index: 9;
}

.shutter-gate {
  height: 70%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shutter-text {
  color: var(--focused-text);
}

.shutter-loading-bar {
  position: relative;
  width: 50%;
}

.shutter-progress-bar {
  width: 100%;
  height: 1px;
  background-color: rgba(42, 37, 32, 0.08);
  border-radius: 3px;
  margin: 16px 0;
}

.shutter-progress-bar-focus {
  width: 0%;
  height: 1px;
  background-color: var(--subheading-text);
}

.shutter-progress-number {
  position: absolute;
  right: 0px;
  font-size: 12px;
  color: var(--unfocused-text);
}

.shutter-cenimatic-bg {
  height: 15%;
  width: 100vw;
  background-color: #111;
}
